.jumbotron { 
    background-color: cadetblue;
    color: black;
    margin-top: 55px;
}

.footer{
    padding: 10px 10px 0px 10px;
    background-color: cadetblue;
    margin-top: 20px;
}

.card-hotel{
    flex: 1 200px;
    text-align: justify;
    justify-content: space-between;
    margin-top: 15px;
    
}
.card-hotel button{
    width: 100%;
    border-radius: 0px;

}
.oi{
    margin-right: 10px;
}